---
---

@import "{{ site.theme }}";

a {
    color: purple;
  }

table,
td,
th {
    border: 1px solid;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

th {
    background-color: green;
    color: white;
}

tr:nth-child(even) {
    background-color: #dafddc;
}

td.stable {
    background-color: lightgreen;
}

td.inProgress {
    background-color: pink;
}